src/main/resources/api/calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/calculator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="calculator" targetNamespace="http://www.example.org/calculator/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/calculator/">
      <xsd:element name="addRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="a" type="xsd:int" />
          	<xsd:element name="b" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addFaultResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="statusCode" type="xsd:int"></xsd:element>
      			<xsd:element name="rootCause" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part element="tns:addRequest" name="body"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="body"/>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addFault">
  	<wsdl:part name="body" element="tns:addFaultResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="calculatorPortType">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
            <wsdl:fault name="fault" message="tns:addFault"></wsdl:fault>
        </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="calculatorSOAP" type="tns:calculatorPortType">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="add">

  		<soap:operation
  			soapAction="http://www.example.org/calculator/add" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calculatorService">
    <wsdl:port binding="tns:calculatorSOAP" name="calculatorSOAP">
      <soap:address location="http://localhost:8081/calculator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
